<!DOCTYPE html>

<html>
    <head>
        <title>AustinPython.org {% block title %}{% endblock %}</title>
        <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" type="text/css"/>
    </head>

    <body>
        {% block body %}
        <div id="container">
            {% block header %}
            <div id="header">
                <h1 id="logo">Austin Python</h1>
                <div id="import-widget">
                    <span class="import">import</span>
                    <span id="module">django_</span>
                </div>
            </div>
            {% endblock %}{# end header #}

            {% block banner %}{% endblock %}

            {% block content %}{% endblock %}

            {% block footer %}
            <div id="footer"></div>
            {% endblock %}

        </div>
        {% endblock %}{# End body. #}


        {% block scripts %}
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        {% block extra_scripts %}{% endblock %}
        {% endblock %}{# end scripts #}
    </body>

</html>
