@import url("http://fonts.googleapis.com/css?family=PT+Sans|Podkova");

body {
  font-family: "PT Sans", "Arial", "sans-serif";
  padding-top: 70px;
  background-image: url("/static/images/texture_light.png");
}

h1, h2, h3 {
  font-family: "Podkova", "Arial", "sans-serif";
}

.hero-buttons {
  list-style: none;
  margin: 0;
  float: right;
}

  .hero-buttons li {
    margin: 0 0 0 10px;
    float: left;
  }

.navbar-inner {
    background-color: #293721;
    background-image: none;
    height: 72px;
}


  #header-logo {
    width: 0;
    height: 0;
    overflow: hidden;
    padding: 120px 0 0 167px;
    /* what's the django smart way here? */
    background-image: url("/static/images/austinpython_logo_167x120.png");
    background-position: top left;
    background-repeat: no-repeat;
    margin: 15px auto -70px;
    z-index: 10;
  }

  .hero-unit {
      background-color: rgba(255, 255, 255, 0);
      padding: 60px 0;
      margin-bottom: 0;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
  }


  .textured-container {
    background-image: url("/static/images/texture.png");
  }

  .gray-container {
    background-color: #DDD;
    text-shadow: 0 1px #FFF;
    color: #666;
  }

    .gray-container-shadow {
      background-image: url("/static/images/gray_container_shadow.png");
      background-position: top left;
      background-repeat: repeat-x;
      padding: 30px 0 14px;
    }

  .header-container {
    height: 40px;
    background-image: url("/static/images/header_background_left.png");
    background-position: top left;
    background-repeat: no-repeat;
  }

  .header-inner {
    background-image: url("/static/images/header_background_right.png");
    background-position: top right;
    background-repeat: no-repeat;
    height: 40px;
    padding: 0 82px;
  }

    .header-inner h2, .header-inner h3 {
      background-image:  url("/static/images/header_background.png");
      background-position: top center;
      height: 40px;
      line-height: 30px;
      color: #FFF;
      overflow: hidden;
      text-align: center;
      font-weight: normal;
      text-transform: uppercase;
      font-size: 20px;
    }

    .post-container {
      border-top: 1px solid #FFF;
      padding-top: 30px;
      background-image: url("/static/images/container_shadow.png");
      background-position: top center;
      background-repeat: repeat-x;
    }

.gray-container h2 {
  font-size: 28px;
  color: #577353;
  text-shadow: 0 1px #FFF;
}

p.large {
  font-size: 16px;
  line-height: 24px;
}
