{% extends "site_base.html" %}

{% load staticfiles %}
{% load markup %}

{% block extra_style %}
<link href="http://fonts.googleapis.com/css?family=PT+Sans|Podkova" rel="stylesheet"/>
<link href="{% static "less/base.less" %}" rel="stylesheet/less" />
<!--<link href="{% static "less/fonts.less" %} " rel="stylesheet/less" />-->
{% endblock %}

{% comment %}Turn off top par until acct_login is created{% endcomment %}
{% block topbar_base %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <h1 id="header-logo">Austin Python</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
{% include "hero.html" %}

<div class="gray-container textured-container">
    <div class="gray-container-shadow">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <form class="well"
                        action="http://groups.google.com/forum/#!forum/austin-python">
                        <label for="email">Your Email</label>
                        <input type="email" class="span3" name="email" placeholder="your@email.com" />
                        <button type="submit" class="btn btn-success
                            btn-primary btn-large">Signup for the Mailing List</button>
                    </form>
                </div>
                <div class="span8">
                    <h2>Signup for Announcements</h2>
                    <p class="large">
                        Things move quickly in Austin, and if you're a Python
                        developer (or interested in becoming one!) you need
                        to be plugged in to the community. Sign up on the
                        left and we'll make sure you are informed about all
                        the important events around town!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="post-container">
    <div class="container">
        <div class="row">

            <div class="span7">
                <div class="header-container">
                    <div class="header-inner">
                        <h2>Recent Posts</h2>
                    </div>
                </div>

                {% if posts %}
                <ul class="post-list">
                    {% for post in posts %}
                    <li>
                        <img class="post-author"
                            src="{{ post.author_avatar_url }}"/>
                        <h3>{{ post.title }}</h3>
                        <div class="post-info">
                            Published on {{ post.pub_date.date_string }} at
                            {{ post.pub_date.time_string }} by
                            {{ post.author.name }}
                        </div>
                        <!-- will use summary when we have full post pages -->
                        <div class="post-content">
                            {{ post.content|markdown }}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <div class="span5 hidden-phone">
                <div class="header-container">
                    <div class="header-inner">
                        <h2>Tweets</h2>
                    </div>
                </div>
                <ul class="post-list" id="tweets"></ul>
            </div>

        </div>
    </div>

    <div class="body-footer">
    </div>
</div>

{% endblock %}

{% block footer %}
<div class="row">
    <div class="span12">
        <p class="large center">
            Copyright &copy; 2012 austinpython.org |
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Some rights reserved</a> |
            Powered by <a href="http://djangoproject.com/">Django</a> and <a href="http://www.heroku.com/">Heroku</a>
        </p>
    </div>
</div>
{% endblock %}

{% block extra_script %}
<script type="text/javascript" src="{% static "js/twitter_search.js" %}"></script>
<script>
jQuery(function() {
    jQuery(".dropdown-toggle").dropdown();
    var twitter = new twitterSearch.TwitterSearch({
        query: "awpug",
        container: "#tweets"
    });
    twitter.init();
})
</script>
{% endblock %}
