{% extends "theme_base.html" %}

{% block extra_style %}
<link href="{{ STATIC_URL }}css/base.css" %}" rel="stylesheet" />
{% endblock %}

{% comment %}Turn off top par until acct_login is created{% endcomment %}
{% block topbar_base %}{% endblock %}

{% block body %}

<div class="hero-unit">
    <h1>April Fool's Talk Python</h1>

    <p>
        We should really spend a little bit of time here talking about how
        awesome the Austin Python community is.
    </p>
    <ul class="hero-buttons">
        {% comment %}{% for button in hero_buttons %}{% endcomment %}
        <li>
        <a  href="{% comment %}{% button.link %}{% endcomment %}"
            class="btn btn-primary btn-large {% comment %}{% button.class %}{% endcomment %}">
            {% comment %}{% button.label %}{% endcomment %}
        </a>
        </li>
        {% comment %}{% endfor %}{% endcomment %}
    </ul>
</div>

{% endblock %}
