{% extends "theme_base.html" %}

{% comment %}Turn off top par until acct_login is created{% endcomment %}
{% block topbar_base %}{% endblock %}

{% block body %}

<div class="hero-unit">
    <h1>April Fool's Talk Python</h1>

    <p>
        We should really spend a little bit of time here talking about how
        awesome the Austin Python community is.
    </p>

    <div style="float:right;">
        <div class="btn-group">
            <a class="btn btn-primary btn-large">RSVP</a>
            <a class="btn btn-primary btn-large dropdown-toggle"><span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">RSVP on Meetup</a></li>
                <li><a href="#">RSVP on Facebook</a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_script %}
<script>
jQuery(function() {
    jQuery(".dropdown-toggle").dropdown();
})
</script>
{% endblock %}
